<div class="row lone-forms">
  <div class="col-sm-5">
    <h3>Please login to continue</h3>
  </div>

  <form (submit)="doLogin()" #loginForm="ngForm" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" [(ngModel)]="login.username" #username="ngModel" class="form-control" id="username" name="username" placeholder="Username" required>
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username?.errors.required" class="invalid-feedback">
          Username is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="login.password" #password="ngModel" class="form-control" id="password" name="password" placeholder="Password" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password?.errors.required" class="invalid-feedback">
          Password is required.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="rememberMe" [(ngModel)]="rememberMe"> Remember Me
          </label>
        </div>
      </div>
    </div>
  </form>

</div>
