$font-color: #fff;
$font-color-black: #000;
$background-color: #353535;
$background-color-dg: #222;
$primary-color: #2f8be6;
$primary-color-darken: #0f6bc6;
$primary-color-light2: #80b9f0;
$secondary-color: #ffcc24;
$secondary-color-darken: #dfac04;
$tertiary-color: #21e8a1;
$tertiary-color-darken: #00B173;
$border-color: rgba(255,255,255,.2);
$error-color: #ff0000;
$error-border-color: #dc3545;

$input-color: #2a2a2a;
$input-focus: #2a2a2a;
$input-disabled: #656565;
